---
layout: layouts/base.njk
title: Home
permalink: /index.html
---
{% from "components/ui.njk" import cardIndex %}
<h1>{{ site.site.name }}</h1>
{{ cardIndex(buildManifest.posts, buildManifest.preview, page.url) }}
